.version.avant /* version checker */
{
	color: #0000EA;
	background-color: #AE5C2E;
}

#page
{
	z-index: 1;
	min-height: 417.9699747468303px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 62.0300252531697px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u34300
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 9.9%;
}

#u34301
{
	z-index: 3;
	width: 100%;
}

#u34302
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 9.9%;
}

#u34302:hover
{
	min-height: 0px;
	width: 9.9%;
	margin: 0px -10000px 0px 0%;
}

#u34303
{
	z-index: 5;
	width: 100%;
}

#u30610-4
{
	z-index: 6;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 7px;
	color: #676767;
	line-height: 47px;
	font-size: 39px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 75.11%;
	margin-left: 12.4%;
}

#pu30782
{
	margin-top: 111px;
	width: 100%;
}

#u30782
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100.11%;
}

#u34843
{
	z-index: 15;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	width: 44.17%;
	left: 27.92%;
}

#u30802
{
	z-index: 14;
	min-height: 542px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u30802-bw
{
	z-index: 14;
	min-height: 542px;
	margin-top: 36px;
}

#u30792
{
	z-index: 12;
	background-color: transparent;
	top: -277px;
	margin-bottom: -118px;
	position: relative;
	width: 33.75%;
	margin-left: 33.13%;
}

#pu34300,#u30782_img,#u34843_img,#u30792_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 318px;
}

