.version.dimsum_corner /* version checker */
{
	color: #0000E1;
	background-color: #D78C3C;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu34652
{
	z-index: 10;
	width: 0.01px;
	height: 1088px;
	position: relative;
	margin-right: -10000px;
	margin-top: 648px;
}

#u34656
{
	position: absolute;
	width: 959px;
	height: 686px;
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	top: -45px;
	left: -1139px;
}

#u34656popup
{
	z-index: 11;
}

#u34657
{
	z-index: 12;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34659
{
	z-index: 14;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34659_img
{
	padding-left: 230px;
	padding-right: 231px;
}

#u34661
{
	z-index: 16;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34661_img
{
	padding-top: 5px;
	padding-bottom: 4px;
}

#u34670
{
	z-index: 18;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34670_img
{
	padding-left: 306px;
	padding-right: 306px;
}

#u34669
{
	z-index: 20;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34665
{
	z-index: 21;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34665_img
{
	padding-top: 38px;
	padding-bottom: 37px;
}

#u34667
{
	z-index: 23;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34672
{
	z-index: 25;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34657_img,#u34667_img,#u34672_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u34663
{
	z-index: 27;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u34663_img
{
	padding-left: 41px;
	padding-right: 42px;
}

#u34677
{
	position: absolute;
	width: 960px;
}

#u34677popup
{
	z-index: 29;
}

#u34684
{
	z-index: 30;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u34678
{
	z-index: 32;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
}

#u34686
{
	z-index: 34;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
}

#u34686_img
{
	margin-top: -25px;
	margin-bottom: -26px;
}

#u34693
{
	z-index: 36;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
	left: 480px;
}

#u34686:hover,#u34693:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 816px -10000px 0px 0px;
}

#u34690
{
	z-index: 38;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 480px;
}

.ie #u34669,.ie #u34690
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u34690:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

.ie #u34690:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u34688
{
	z-index: 39;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
	left: 480px;
}

#u34678:hover,#u34688:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 544px -10000px 0px 0px;
}

#u34688_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u34691
{
	z-index: 41;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u34680
{
	z-index: 43;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 480px;
}

#u34691:hover,#u34680:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u34684_img,#u34691_img,#u34680_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u34682
{
	z-index: 45;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u34684:hover,#u34682:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u34675-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -1229px;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u34675-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u34675-3popup
{
	z-index: 47;
}

#u34653-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -170px;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u34653-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u34653-3popup
{
	z-index: 50;
}

#u34655
{
	position: absolute;
	width: 77px;
	height: 77px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 200px;
	top: -116px;
	left: -700px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u34655:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	width: 77px;
	height: 77px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppu34300
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	width: 100.11%;
}

#pu34300
{
	width: 9.89%;
}

#u34300
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34301
{
	z-index: 3;
	width: 100%;
}

#u34302
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34302:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u34303
{
	z-index: 5;
	width: 100%;
}

#u34649-4
{
	z-index: 6;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 7px;
	color: #676767;
	line-height: 47px;
	font-size: 39px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 75.03%;
	margin-left: 12.49%;
}

#pu34650
{
	margin-top: 111px;
	width: 100%;
}

#u34650
{
	z-index: 54;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34650 .fluid_height_spacer
{
	padding-bottom: 38.397502601456814%;
}

#u34731
{
	z-index: 55;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 35.8%;
	left: 33.1%;
}

#u34731_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 318px;
}


