.version.emilio_de_la_morena /* version checker */
{
	color: #00000F;
	background-color: #A0B4F7;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu27486
{
	z-index: 10;
	width: 0.01px;
	height: 2176px;
	position: relative;
	margin-right: -10000px;
	margin-top: 648px;
}

#u27487
{
	position: absolute;
	width: 959px;
	height: 686px;
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	top: -45px;
	left: -1139px;
}

#u27487popup
{
	z-index: 11;
}

#u27495
{
	z-index: 12;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27507
{
	z-index: 14;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27501
{
	z-index: 16;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27501_img
{
	padding-left: 238px;
	padding-right: 238px;
}

#u27511
{
	z-index: 18;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27515
{
	z-index: 20;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27515_img
{
	padding-left: 26px;
	padding-right: 27px;
}

#u27513
{
	z-index: 22;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27513_img
{
	padding-left: 148px;
	padding-right: 149px;
}

#u27492
{
	z-index: 24;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27488
{
	z-index: 25;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27497
{
	z-index: 27;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27497_img
{
	padding-left: 380px;
	padding-right: 380px;
}

#u27490
{
	z-index: 29;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27507_img,#u27488_img,#u27490_img
{
	padding-left: 237px;
	padding-right: 237px;
}

#u27517
{
	z-index: 31;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27517_img
{
	padding-left: 233px;
	padding-right: 233px;
}

#u27503
{
	z-index: 33;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27503_img
{
	padding-left: 53px;
	padding-right: 54px;
}

#u27499
{
	z-index: 35;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27511_img,#u27499_img
{
	padding-left: 223px;
	padding-right: 224px;
}

#u27519
{
	z-index: 37;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27519_img
{
	padding-top: 18px;
	padding-bottom: 18px;
}

#u27493
{
	z-index: 39;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27509
{
	z-index: 41;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27495_img,#u27493_img,#u27509_img
{
	padding-left: 145px;
	padding-right: 146px;
}

#u27505
{
	z-index: 43;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u27505_img
{
	padding-left: 63px;
	padding-right: 63px;
}

#u27541
{
	position: absolute;
	width: 960px;
}

#u27541popup
{
	z-index: 45;
}

#u27560
{
	z-index: 46;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u27554
{
	z-index: 48;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
}

#u27550
{
	z-index: 50;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
}

#u27546
{
	z-index: 52;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
}

#u27556
{
	z-index: 54;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
	left: 480px;
}

#u27546:hover,#u27556:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1904px -10000px 0px 0px;
}

#u27562
{
	z-index: 56;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
	left: 480px;
}

#u27550:hover,#u27562:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 816px -10000px 0px 0px;
}

#u27570
{
	z-index: 58;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 480px;
}

.ie #u27492,.ie #u27570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u27570:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u27558
{
	z-index: 59;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
	left: 480px;
}

#u27554:hover,#u27558:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 544px -10000px 0px 0px;
}

#u27566
{
	z-index: 61;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u27566_img
{
	padding-left: 63px;
	padding-right: 62px;
}

#u27564
{
	z-index: 63;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 480px;
}

#u27566:hover,#u27564:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u27568
{
	z-index: 65;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u27560:hover,#u27568:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27542
{
	z-index: 67;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
	left: 480px;
}

#u27548
{
	z-index: 69;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
	left: 480px;
}

#u27571
{
	z-index: 71;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
}

#u27571_img
{
	margin-top: -18px;
	margin-bottom: -19px;
}

#u27544
{
	z-index: 73;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
	left: 480px;
}

#u27571:hover,#u27544:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1360px -10000px 0px 0px;
}

#u27552
{
	z-index: 75;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
}

#u27542:hover,#u27552:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1632px -10000px 0px 0px;
}

#u27573
{
	z-index: 77;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
}

#u27548:hover,#u27573:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1088px -10000px 0px 0px;
}

#u27522-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -1229px;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u27522-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u27522-3popup
{
	z-index: 79;
}

#u27576-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -170px;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u27576-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u27576-3popup
{
	z-index: 82;
}

#u27578
{
	position: absolute;
	width: 77px;
	height: 77px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 200px;
	top: -116px;
	left: -700px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u27578:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	width: 77px;
	height: 77px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#ppu34300
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	width: 100%;
}

#pu34300
{
	width: 9.9%;
}

#u34300
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34301
{
	z-index: 3;
	width: 100%;
}

#u34302
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34302:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u34303
{
	z-index: 5;
	width: 100%;
}

#u27475-4
{
	z-index: 6;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 7px;
	color: #676767;
	line-height: 47px;
	font-size: 39px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 75.11%;
	margin-left: 12.5%;
}

#pu27482-4
{
	margin-top: 18px;
	width: 18.86%;
	margin-left: 22.82%;
}

#u27482-4
{
	z-index: 86;
	min-height: 8px;
	background-color: transparent;
	color: #676767;
	text-align: left;
	font-size: 14px;
	letter-spacing: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 100%;
}

#u27478
{
	z-index: 90;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 18.24%;
	left: 81.77%;
}

#u27479
{
	z-index: 91;
	display: block;
	width: 100%;
}

#u27480
{
	z-index: 92;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 18.24%;
	left: 81.77%;
}

#u27480:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	min-height: 0px;
	width: 18.24%;
	margin: 0px -10000px 0px 0%;
}

#u27481
{
	z-index: 93;
	display: block;
	width: 100%;
}

#u40157
{
	z-index: 94;
	padding-bottom: 243px;
	margin-top: 60px;
	position: relative;
	width: 100%;
	background: transparent url("../images/screen%20shot%202015-06-15%20at%20161047.jpg") no-repeat left top;
}

#u40166
{
	z-index: 95;
	height: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	width: 0.53%;
	left: 34.69%;
}

.ie #u27570:hover,.ie #u40166
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 318px;
}


