.version.future_foods /* version checker */
{
	color: #00001C;
	background-color: #F591BD;
}

#page
{
	z-index: 1;
	min-height: 479.9199747468301px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u34300
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 9.9%;
}

#u34301
{
	z-index: 3;
	width: 100%;
}

#u34302
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 9.9%;
}

#u34302:hover
{
	min-height: 0px;
	width: 9.9%;
	margin: 0px -10000px 0px 0%;
}

#u34303
{
	z-index: 5;
	width: 100%;
}

#u25455-4
{
	z-index: 6;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 7px;
	color: #676767;
	line-height: 47px;
	font-size: 39px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
	width: 75.11%;
	margin-left: 12.4%;
}

#pu25456-4
{
	margin-top: 18px;
	width: 100%;
}

#u25456-4
{
	z-index: 10;
	min-height: 8px;
	background-color: transparent;
	color: #676767;
	text-align: left;
	font-size: 14px;
	letter-spacing: 7px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 18.86%;
	left: 31.98%;
}

#u25457
{
	z-index: 14;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.44%;
	left: 47.4%;
}

#u25458
{
	z-index: 15;
	display: block;
	width: 100%;
}

#u25459
{
	z-index: 16;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.44%;
	left: 47.4%;
}

#u25459:hover
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	min-height: 0px;
	width: 3.44%;
	margin: 0px -10000px 0px 0%;
}

#u25460
{
	z-index: 17;
	display: block;
	width: 100%;
}

#pslideshowu25595
{
	margin-top: 60px;
	width: 100%;
}

#slideshowu25595
{
	z-index: 18;
	width: 0.01px;
	height: 2176px;
	position: relative;
	margin-right: -10000px;
	margin-top: 596px;
}

#u25597
{
	position: absolute;
	width: 959px;
	height: 686px;
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	top: -45px;
	left: -1139px;
}

#u25597popup
{
	z-index: 19;
}

#u25615
{
	z-index: 20;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25615_img
{
	padding: 115px 133px 114px 132px;
}

#u25600
{
	z-index: 22;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25625
{
	z-index: 24;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25613
{
	z-index: 26;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25613_img
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#u25608
{
	z-index: 28;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25617
{
	z-index: 30;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25623
{
	z-index: 32;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25623_img
{
	padding-left: 281px;
	padding-right: 282px;
}

#u26347
{
	z-index: 34;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25611
{
	z-index: 36;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u26347_img,#u25611_img
{
	padding-left: 282px;
	padding-right: 282px;
}

#u25627
{
	z-index: 38;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25602
{
	z-index: 40;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25598
{
	z-index: 42;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25621
{
	z-index: 44;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25619
{
	z-index: 46;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25604
{
	z-index: 48;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u25600_img,#u25625_img,#u25608_img,#u25617_img,#u25627_img,#u25602_img,#u25598_img,#u25621_img,#u25619_img,#u25604_img
{
	padding-top: 55px;
	padding-bottom: 54px;
}

#u25652
{
	position: absolute;
	width: 960px;
}

#u25652popup
{
	z-index: 50;
}

#u25657
{
	z-index: 51;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u25657_img
{
	margin-top: -10px;
	margin-bottom: -10px;
}

#u25672
{
	z-index: 53;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
}

#u25655
{
	z-index: 55;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
}

#u25674
{
	z-index: 57;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
}

#u25674:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1904px -10000px 0px 0px;
}

#u25674_img
{
	margin-top: -12px;
	margin-bottom: -12px;
}

#u25680
{
	z-index: 59;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
	left: 480px;
}

#u25655:hover,#u25680:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 816px -10000px 0px 0px;
}

#u25684
{
	z-index: 61;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
	left: 480px;
}

#u25672:hover,#u25684:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 544px -10000px 0px 0px;
}

#u25659
{
	z-index: 63;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u26353
{
	z-index: 65;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 480px;
}

#u25659:hover,#u26353:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u25678
{
	z-index: 67;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u25657:hover,#u25678:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25676
{
	z-index: 69;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
	left: 480px;
}

#u25670
{
	z-index: 71;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
	left: 480px;
}

#u25653
{
	z-index: 73;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
}

#u25663
{
	z-index: 75;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
	left: 480px;
}

#u25653:hover,#u25663:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1360px -10000px 0px 0px;
}

#u25665
{
	z-index: 77;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
}

#u25676:hover,#u25665:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1632px -10000px 0px 0px;
}

#u25661
{
	z-index: 79;
	width: 480px;
	height: 272px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
}

#u25670:hover,#u25661:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 272px;
	min-height: 0px;
	margin: 1088px -10000px 0px 0px;
}

#u25672_img,#u25655_img,#u25680_img,#u25684_img,#u25676_img,#u25670_img,#u25653_img,#u25663_img,#u25665_img,#u25661_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u25686-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -1229px;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u25686-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u25686-3popup
{
	z-index: 81;
}

#u25632-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -170px;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u25632-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u25632-3popup
{
	z-index: 84;
}

#u25651
{
	position: absolute;
	width: 77px;
	height: 77px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 200px;
	top: -116px;
	left: -700px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u25651:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	width: 77px;
	height: 77px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u40257
{
	z-index: 88;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu34300,#u40257_img
{
	width: 100%;
}

#u45769
{
	z-index: 90;
	min-height: 2046px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 236px;
	position: relative;
	width: 72.3%;
	margin-left: 12.5%;
}

#u45773
{
	z-index: 91;
	height: 503px;
	background-color: #FFFFFF;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u45773-bw
{
	z-index: 91;
	margin-top: -441px;
	margin-bottom: -441px;
	height: 503px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 318px;
}

