.version.libre_graphics_re_brand /* version checker */
{
	color: #000003;
	background-color: #03275D;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu15494
{
	z-index: 6;
	width: 0.01px;
	height: 3285px;
	position: relative;
	margin-right: -10000px;
	margin-top: 590px;
}

#u15495
{
	position: absolute;
	width: 959px;
	height: 686px;
	border-width: 0px;
	border-color: transparent;
	background-color: #3E3E3E;
	top: -45px;
	left: -1139px;
}

#u15495popup
{
	z-index: 7;
}

#u15498
{
	z-index: 8;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17010
{
	z-index: 10;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17030
{
	z-index: 12;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17030_img
{
	padding: 70px 80px 70px 79px;
}

#u17050
{
	z-index: 14;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17050_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u17070
{
	z-index: 16;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15498_img,#u17070_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u17090
{
	z-index: 18;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15500
{
	z-index: 20;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15496
{
	z-index: 22;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15496_img
{
	padding-left: 281px;
	padding-right: 282px;
}

#u16421
{
	z-index: 24;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16441
{
	z-index: 26;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16461
{
	z-index: 28;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16481
{
	z-index: 30;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u16421_img,#u16441_img,#u16461_img,#u16481_img
{
	padding-left: 91px;
	padding-right: 92px;
}

#u15506
{
	z-index: 32;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15500_img,#u15506_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u15504
{
	z-index: 34;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u17010_img,#u17090_img,#u15504_img
{
	padding-top: 26px;
	padding-bottom: 26px;
}

#u15502
{
	z-index: 36;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15502_img
{
	padding-left: 16px;
	padding-right: 16px;
}

#u15510
{
	z-index: 38;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15508
{
	z-index: 40;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15901
{
	z-index: 42;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15510_img,#u15508_img,#u15901_img
{
	padding-left: 223px;
	padding-right: 223px;
}

#u15921
{
	z-index: 44;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15941
{
	z-index: 46;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15961
{
	z-index: 48;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15981
{
	z-index: 50;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15921_img,#u15941_img,#u15961_img,#u15981_img
{
	padding-left: 241px;
	padding-right: 240px;
}

#u16001
{
	z-index: 52;
	width: 915px;
	height: 624px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u15512
{
	position: absolute;
	width: 960px;
}

#u15512popup
{
	z-index: 54;
}

#u15521
{
	z-index: 55;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u17016
{
	z-index: 57;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2448px;
	left: 476px;
}

#u17036
{
	z-index: 59;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2448px;
}

#u17016:hover,#u17036:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 2448px -10000px 0px 0px;
}

#u17036_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u17056
{
	z-index: 61;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2721px;
	left: 472px;
}

#u17056:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 2721px -10000px 0px 0px;
}

#u17056_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u17076
{
	z-index: 63;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2720px;
}

#u17076:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 2720px -10000px 0px 0px;
}

#u15521_img,#u17076_img
{
	margin-top: -16px;
	margin-bottom: -15px;
}

#u17096
{
	z-index: 65;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2992px;
	left: 472px;
}

#u17096:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 2992px -10000px 0px 0px;
}

#u15527
{
	z-index: 67;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
}

#u15515
{
	z-index: 69;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
}

#u16427
{
	z-index: 71;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2177px;
	left: 480px;
}

#u16427:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 2177px -10000px 0px 0px;
}

#u16447
{
	z-index: 73;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
}

#u16467
{
	z-index: 75;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
	left: 480px;
}

#u16447:hover,#u16467:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 1904px -10000px 0px 0px;
}

#u16487
{
	z-index: 77;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2176px;
}

#u16487:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 2176px -10000px 0px 0px;
}

#u15513
{
	z-index: 79;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
	left: 480px;
}

#u15515:hover,#u15513:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 816px -10000px 0px 0px;
}

#u15527_img,#u15513_img
{
	margin-top: -13px;
	margin-bottom: -14px;
}

#u15523
{
	z-index: 81;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	left: 480px;
}

#u17016_img,#u17096_img,#u15523_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u15517
{
	z-index: 83;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
	left: 480px;
}

#u15527:hover,#u15517:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 544px -10000px 0px 0px;
}

#u15517_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u15519
{
	z-index: 85;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
}

#u15523:hover,#u15519:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 272px -10000px 0px 0px;
}

#u15525
{
	z-index: 87;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15521:hover,#u15525:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u15907
{
	z-index: 89;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
	left: 480px;
}

#u15927
{
	z-index: 91;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
	left: 480px;
}

#u15947
{
	z-index: 93;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
}

#u15967
{
	z-index: 95;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
	left: 480px;
}

#u15947:hover,#u15967:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 1360px -10000px 0px 0px;
}

#u15987
{
	z-index: 97;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
}

#u15907:hover,#u15987:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 1632px -10000px 0px 0px;
}

#u16007
{
	z-index: 99;
	width: 480px;
	height: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
}

#u15927:hover,#u16007:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px;
	width: 480px;
	height: 293px;
	min-height: 0px;
	margin: 1088px -10000px 0px 0px;
}

#u16007_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

#u15542-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -1229px;
	background: transparent url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

#u15542-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u15542-3popup
{
	z-index: 101;
}

#u15543-3
{
	position: absolute;
	width: 74px;
	min-height: 74px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 236px;
	left: -170px;
	background: transparent url("../images/arrows-mn_arrow_right%20white.png") no-repeat center center;
}

#u15543-3:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 74px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u15543-3popup
{
	z-index: 104;
}

#u15532
{
	position: absolute;
	width: 77px;
	height: 77px;
	border-style: solid;
	border-width: 3px;
	border-color: #474747;
	border-radius: 200px;
	top: -116px;
	left: -700px;
	background: transparent url("../images/arrows-mn_close%20white.png") no-repeat center center;
}

#u15532:hover
{
	border-color: #FFFFFF;
	border-radius: 100px;
	width: 77px;
	height: 77px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/arrows-mn_close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu34300
{
	margin-right: -10000px;
	margin-top: 20px;
	width: 9.9%;
}

#u34300
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34301
{
	z-index: 3;
	width: 100%;
}

#u34302
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u34302:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u34303
{
	z-index: 5;
	width: 100%;
}

#pu25231-6
{
	margin-right: -10000px;
	margin-top: 72px;
	width: 75.11%;
	margin-left: 12.4%;
}

#u25231-6
{
	z-index: 108;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 7px;
	color: #676767;
	line-height: 47px;
	font-size: 39px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
}

#u26741
{
	z-index: 114;
	display: block;
	vertical-align: top;
	margin-top: 70px;
	position: relative;
	width: 32.88%;
	margin-left: 33.57%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 318px;
}


