	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 461px;
		padding-bottom: 39px;
		max-width: 960px;
	}

	#u42840-bw
	{
		margin-top: 84px;
	}

	#u42896_align_to_page
	{
		max-width: 960px;
	}

	#u42926-4
	{
		width: 19.69%;
		left: 40.11%;
	}

	#u42896,#u42896-bw
	{
		min-height: 462px;
	}

	#u44295
	{
		-webkit-transform: matrix(-1,0,0,-1,51,51);
		-ms-transform: matrix(-1,0,0,-1,51,51);
		transform: matrix(-1,0,0,-1,51,51);
		margin-top: 63px;
		width: 5.32%;
		left: 47.4%;
	}

	#u44297
	{
		-webkit-transform: matrix(-1,0,0,-1,51,51);
		-ms-transform: matrix(-1,0,0,-1,51,51);
		transform: matrix(-1,0,0,-1,51,51);
		margin-top: 62px;
		width: 5.32%;
		left: 47.3%;
	}

	#u44297:hover
	{
		margin-top: 62px;
		width: 5.32%;
	}

	#u44296,#u44298
	{
		width: 100%;
	}

	#u43043-4
	{
		margin-top: 108px;
		width: 40.11%;
	}

	#u43042
	{
		left: 12.4%;
	}

	#u43792-4
	{
		width: 40.11%;
	}

	#u43533
	{
		left: 0.41%;
	}

	#u43536
	{
		left: 0.41%;
	}

	#u43202,#u43281,#u43406,#u43449
	{
		width: 25.94%;
		left: 6.46%;
	}

	#u43205,#u43282,#u43407,#u43450
	{
		width: 25.94%;
		left: 36.98%;
	}

	#u43208,#u43283,#u43408,#u43451
	{
		width: 25.94%;
		left: 67.5%;
	}

	#pu43143
	{
		margin-top: -51px;
	}

