	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 438px;
		padding-bottom: 62px;
		max-width: 960px;
	}

	#u42840-bw
	{
		margin-top: 84px;
	}

	#u43913-4
	{
		width: 19.69%;
		left: 40.11%;
	}

	#u44088
	{
		-webkit-transform: matrix(-1,0,0,-1,51,51);
		-ms-transform: matrix(-1,0,0,-1,51,51);
		transform: matrix(-1,0,0,-1,51,51);
		margin-top: 63px;
		width: 5.32%;
		left: 47.4%;
	}

	#u44090
	{
		-webkit-transform: matrix(-1,0,0,-1,51,51);
		-ms-transform: matrix(-1,0,0,-1,51,51);
		transform: matrix(-1,0,0,-1,51,51);
		margin-top: 62px;
		width: 5.32%;
		left: 47.3%;
	}

	#u44090:hover
	{
		margin-top: 62px;
		width: 5.32%;
	}

	#u44089,#u44091
	{
		width: 100%;
	}

	#u42745-8
	{
		margin-top: 141px;
		width: 34.8%;
	}

	#u42744-4
	{
		width: 62.4%;
	}

	#pcontactcv
	{
		margin-right: -10000px;
		margin-top: 137px;
		margin-left: 287px;
		width: 40.11%;
	}

	#contactcv
	{
		margin-left: 184px;
	}

	#u43946-4
	{
		margin-top: 289px;
	}

	#u44030
	{
		width: 8.44%;
		left: 73.55%;
	}

	#u44634
	{
		width: 17.4%;
	}

